@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
* {
	box-sizing: border-box;
}
body {
	height: 100vh;
	padding: 0;
	margin: 0;
	background-color: #333;
	font-family: 'Roboto';
	color: #fff;
}
.nav-container {
	display: flex;
	width: 80%;
	margin: 0 auto;
}
header {
	height: 100vh;
	width: 100%;
	background: url('../img/showcase.jpg') no-repeat center center / cover;
	margin: 0;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	background-color: transparent;
	margin: 0;
	width: 100%;
	overflow: hidden;
	z-index: 3;
	transition: 200ms all;
}
.brand {
	flex: 2;
}
nav ul {
	display: flex;
	list-style: none;
	padding: .3rem .3rem;
	margin: 0;
	margin-top: 1rem;
	flex: 8;
}
nav li {
	padding: 0 1rem;
}
nav a {
	text-decoration: none;
	color: #d3d3d3;
	font-weight: 600;
	transition: 500ms color;
}
nav a:hover {
	color: #050503;
}
.stick {
	background-color: #888c8b;
}
.stick a:hover {
	color: #725746;
}
.current {
	color: #050503;
}
.stick .current {
	color: #725746;
}
.showcase {
	position: absolute;
	top: 40%;
	left: 10%;
}
.showcase h1,
h2 {
	font-weight: 300;
}
.showcase h1 {
	font-size: 3rem;
	margin: 0;
}
.showcase h2 {
	font-size: 2rem;
}
.txt {
	border-right: #fff 0.2rem solid;
}
.container {
	width: 90%;
	margin: 0 3rem;
	display: flex;
}
.newsletter {
	width: 100%;
	display: flex;
	background-color: #050503;
	justify-content: center;
	padding: 1rem;
}
.newsletter h3,
.newsletter form {
	flex: 1;
}
.newsletter form {
	text-align: center;
	margin: auto 0;
}
input {
	padding: .3rem 1rem;
}
button {
	border: none;
	outline: none;
	padding: .5rem .5rem;
	background-color: #734526;
	color: #fff;
	font-weight: 500;
	cursor: pointer;
}
button:hover {
	background-color: #9c5c32;
}
.about {
	background-color: #d3d3d3;
	margin: 0;
	color: #050503;
	padding: 3rem 1rem;
}
.about h2 {
	margin-top: 0;
	text-align: center;
	padding: .9rem 0;
	font-size: 3rem;
}
.about p,
.about .keyboard-icon {
	text-align: center;
	flex: 1;
}
.about i {
	font-size: 17rem;
}
.about p {
	font-size: 1.5rem;
}
footer {
	text-align: center;
}
footer p {
	padding: 2rem 0;
}
@media (max-with: 800px) {
	.container {
		width: 100%;
	}
}
